
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

.header {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    
}

.header h1 {
    display: inline-block;
    font-size: 45px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display:flex;
    color: #000000;
    background-color: #7e7b7b;
}

.header nav ul {
    list-style-type: none;
    color: #000000
}

.header nav ul li {
    display: inline-block;
    margin-left: 5px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
/*Gives glowing effect for clickable options*/
a:hover {
    background-color: #e2c4c4;
    color:black;
    box-shadow:
    0 0 5px 5px #e2c4c4;
  }
p {
    font-size: 20px;
}
/*positions the headshot into center of page*/
figure{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
}
/*Styles the headshot*/
.picture {
    height: 300px;
    width: 30%;
    background-position: right;
    border-radius: 45%;
    height:auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.about-me {
    margin-bottom: 20px;
    padding: 30px;
    height: auto;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: larger;

}

.portfolio {
    margin-bottom: 20px;
    padding: 50px;
    height: auto;
    min-height:200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #000000;
    color: #ffffff;
    font-size: 50px;
}

.contact-info {
    margin-bottom: 10px;
    padding: 10px;
    height: auto;
    min-height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #555454;
    color: #ffffff;
}

.resume{
    margin-bottom: 20px;
    padding: 20px;
    height: auto;
    min-height: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #555454;
    color: #ffffff;
}
/*changes the orientation of the porfolio when screen size changes*/
.port-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    height: auto;
    font-size: 30px;
    color: #fff;
    background-color: #000000;
  }
  /*styles the images in the portfolio gallery*/
  .port-gallery img {
    width: 100%;
    max-width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  /*Gives gallery images a glow and enlargens the image upon hovering*/
.port-gallery img:hover {
    background-color: #fff;
    color:black;
    box-shadow:
    0 0 5px 5px #fff;
    max-width: 225px;
    height: 225px;
  }
